/******** CORE CSS *****/

@import url("reset.css");
<<<<<<< HEAD
main{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.buffer{
  height: 400px;
  width: 300px;
  background-color: #ccc;
}
=======
>>>>>>> feature/stylesheets_folder_window_center
